@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;
  /* Couleur du texte */
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes twinkle {

  0%,
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-3px) scale(1.2);
    opacity: 0.8;
  }
}